{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="about-us py-5 hero-section set-bg" data-setbg="{% static 'webuni/img/bg2.jpg'%}" id="about-us">
    <div class="container mt-5">
	<div class="row">
		<div class="col-md-6">
		    <h1 class='text-primary'>Apartment Finder!</h1>
		    <h2>To find your desirable apartments in one place</h2>
		    <hr>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quis autem similique inventore earum nisi voluptatum dolor ducimus consequuntur velit sequi reprehenderit molestiae aliquam labore, nemo esse deleniti iste? Distinctio.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aspernatur asperiores facere nihil, ut dolore necessitatibus inventore molestiae illo saepe beatae voluptatum reprehenderit ad error totam minus, architecto ab similique?</p>
			<button type="button" class="btn btn-primary">Let's Know More</button>

		</div>
		<div class="row-md-6">
		    <img src="https://www.gaebler.com/images/startbiz/Apartment-Rental-Business.jpg"alt="">
		</div> 
	</div>
</div>
</section>
{% endblock %}
